<div class="col-md-12">
  <ngb-alert *ngIf="alertText" [type]="alertText.alert" (close)="alertText = null">{{ alertText.message }}</ngb-alert>
  <div class="row products">    
    <div class="col-lg-4 col-md-3 col-sm-6" *ngFor="let item of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <div class="card">
        <a [routerLink]="[ '/product', item.ID ]">
          <img class="card-img-top" [src]="getImage(item.ImageSrc)" alt="Card image cap">
        </a>   
        <div class="card-body">
          <h5 class="card-title">{{item.Title}}</h5>
          <p class="card-text">{{item.Description | slice:0:150}}...</p>
        </div>
        <div class="card-footer">
          <span class="text-muted">Цена: {{item.Price}} тг.</span>
          <button class="btn btn-outline-dark ml-5" (click)="addToBasket(item)">В корзину</button>
        </div>     
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="products.length"></ngb-pagination>
    </div>
  </div>  
</div>